.buttons
	display: flex 
	position: relative
	margin-bottom: gem(351)
	a
		display: flex
		position: relative
		width: gem(345)
		height: gem(87)
		border-top: 1px solid white
		border-right: 1px solid white
		border-radius: gem(100)
		justify-content: center
		align-items: center
		overflow: hidden
		// transition: all 1s ease
		&::after, .background
			content: ""
			display: flex
			position: absolute
			width: gem(347)
			height: gem(87)
			border-radius: gem(100)
			// left: gem(-1)
			top: gem(0.1)
			opacity: 1
			// transition: all .3s ease
			background: radial-gradient(63.33% 995.94% at 31.88% 41.38%, #2B7AEF 0%, #2BBEEF 57.34%, #2B7AEF 100%)
			z-index: 1
		.background
			opacity: 1
			width: gem(350)
			height: gem(350)
			border-radius: 100%
			z-index: 2
			// transition: all 0.3s ease
			background: radial-gradient(63.33% 995.94% at 31.88% 41.38%, #FF587D 0%, #FFAEAE 57.34%, #FF90BA 100%)
			top: 110%
		span 
			z-index: 3
			margin-top: gem(-2)
		&:nth-child(2)
			margin-left: gem(14)
			&::after
				background: linear-gradient(180deg, #ffffff00 0%, #ffffff1a 100%)
				backdrop-filter: blur(25px)
			.background
				background: radial-gradient(63.33% 995.94% at 31.88% 41.38%, #2B7AEF 0%, #2BBEEF 57.34%, #2B7AEF 100%)

@media only screen and (max-width : 1024px)
	.buttons
		left: gem(-38)
		margin-bottom: gem(151)
		a
			width: gem(328)
			&::after, &::before
				width: gem(328)
			&:nth-child(2)
				width: gem(299)
				// left: gem(350)
				&::after
					width: gem(299)
				&::before
					width: gem(299)
@media only screen and (max-width : 480px)
	.buttons
		left: gem(-14)
		flex-direction: column
		a
			width: gem(340)
			height: gem(64)
			&::after, .background
				width: gem(370)
			&:nth-child(2)
				width: gem(340)
				margin-left: 0
				margin-top: gem(10)
				&::after
					width: gem(399)
				&::before
					width: gem(399)
			.background
				transform: none
