.buttons
	display: flex 
	position: relative
	margin-bottom: gem(351)
	a
		display: flex
		position: relative
		width: gem(345)
		height: gem(87)
		border-top: 2px solid white
		border-right: 2px solid white
		border-radius: gem(100)
		justify-content: center
		align-items: center
		overflow: hidden
		&::after, .background
			content: ""
			display: flex
			position: absolute
			width: gem(347)
			height: gem(87)
			border-radius: gem(100)
			top: gem(0.1)
			opacity: 1
			background: radial-gradient(63.33% 995.94% at 31.88% 41.38%, #2B7AEF 0%, #2BBEEF 57.34%, #2B7AEF 100%)
			z-index: 1
		.background
			opacity: 1
			width: gem(350)
			height: gem(350)
			border-radius: 100%
			z-index: 2
			background: radial-gradient(63.33% 995.94% at 31.88% 41.38%, #FF587D 0%, #FFAEAE 57.34%, #FF90BA 100%)
			top: 110%
		span 
			z-index: 3
			margin-top: gem(-2)
		&:nth-child(2)
			margin-left: gem(14)
			&::after
				background: linear-gradient(180deg, #ffffff00 0%, #ffffff1a 100%)
				backdrop-filter: blur(25px)
			.background
				background: radial-gradient(63.33% 995.94% at 31.88% 41.38%, #2B7AEF 0%, #2BBEEF 57.34%, #2B7AEF 100%)

@media only screen and (max-width : 1024px)
	.buttons
		left: gem(-38)
		margin-bottom: gem(151)
		a
			width: gem(328)
			&::after, &::before
				width: gem(328)
			&:nth-child(2)
				width: gem(299)
				&::after
					width: gem(299)
				&::before
					width: gem(299)
@media only screen and (max-width : 480px)
	.buttons
		left: unset
		margin-top: gem(38)
		margin-left: gem(-7)
		flex-direction: column
		a
			width: gem(365)
			height: gem(64)
			&::after, .background
				width: gem(400)
			&:nth-child(2)
				width: gem(365)
				margin: gem(10) 0 0 0
				&::after
					width: gem(399)
					background: radial-gradient(63.33% 995.94% at 31.88% 41.38%, #FF587D 0%, #FFAEAE 57.34%, #FF90BA 100%)
				&::before
					width: gem(399)
			.background
				transform: none

.buttons_mobile
	display: none
	a
		display: flex

@media only screen and (max-width : 480px)
	.buttons_mobile
		display: flex 
		position: relative
		flex-direction: column
		top: gem(100)
		left: gem(23)
		a
			display: flex
			position: relative
			width: gem(328)
			height: gem(64)
			border-top: 2px solid white
			border-right: 2px solid white
			border-radius: gem(100)
			justify-content: center
			align-items: center
			overflow: hidden
			margin-bottom: gem(15)
			&::after
				content: ""
				display: flex
				position: absolute
				width: gem(328)
				height: gem(64)
				border-radius: gem(100)
				top: gem(0.1)
				opacity: 1
				background: radial-gradient(63.33% 995.94% at 31.88% 41.38%, #2B7AEF 0%, #2BBEEF 57.34%, #2B7AEF 100%)
				z-index: 1
			span 
				z-index: 3
			&:nth-child(2)
				&::after
					background: radial-gradient(63.33% 995.94% at 31.88% 41.38%, #FF587D 0%, #FFAEAE 57.34%, #FF90BA 100%)