.cross
    margin-top: gem(200)
    .marquee 
        display: block
        width: 100%
        white-space: nowrap
        overflow: hidden
        margin-bottom: gem(95)
        p
            display: inline-block
            padding-right: gem(10)
            // padding-left: 100%
    &-content
        display: flex
        flex-direction: row
        &-left
            display: flex
            position: relative
            margin-left: gem(86)
            img 
                width: gem(714)
                height: gem(227)
        &-right
            display: flex
            p
                margin: gem(20) gem(0) gem(151) gem(200)
                max-width: gem(513)
                .glitch
                    font-weight: 800
    .planet
        display: flex
        position: relative
        top: gem(41)
        justify-content: center
        overflow: hidden
        img
            width: gem(106)
            display: flex
            position: relative
            left: gem(16)
        &::after
            position: absolute
            right: 0
            left: 0
            content: ''
            bottom: gem(40)
            width: gem(1472)
            margin-left: gem(64)
            background: rgb(246,249,250)
            background: linear-gradient(90deg, rgba(246,249,250,0) 0%, rgba(246,249,250,1) 40%, rgba(246,249,250,1) 60%, rgba(246,249,250,0) 100%)
            display: block
            height: 1px
            opacity: 0.5
        span
            display: flex
            position: absolute
            width: gem(32)
            height: 1px
            background: linear-gradient(90deg,transparent,#FFF) 
            top: gem(33)
            animation: line_planet 3s linear infinite 
            &:nth-child(2)
                display: flex
                position: absolute
                width: gem(32)
                height: 1px
                background: linear-gradient(270deg,transparent,#FFF) 
                top: gem(33)
                animation: line_planet_second 3s linear infinite 

@keyframes line_planet
    0%
        left: 50%
    100%
        left: 100%
        opacity: 0
@keyframes line_planet_second
    0%
        left: 50%
    100%
        left: 0
        opacity: 0
        
        
@media only screen and (max-width : 1024px)
    .cross
        margin-top: 0
        &-content
            flex-direction: column
            &-left
                img
                    width: gem(614)
            &-right
                p
                    margin: gem(120) gem(0) gem(151) gem(75)
        .planet
            &::after
                width: gem(704)
                margin-left: gem(32)

@media only screen and (max-width : 480px)
    .cross
        &-content
            &-left
                margin-left: gem(0)
            &-right
                p 
                    margin: gem(67) gem(0) gem(99) gem(30)
                    width: gem(354)
        .planet
            &::after
                width: gem(366)
                margin-left: gem(0)


