.enabling
	display: flex
	margin-top: gem(97)
	position: relative
	&-right
		display: flex
		position: relative
		width: gem(800)
		overflow: hidden
		video
			width: gem(1230)
			height: gem(700)
			position: absolute
			top: gem(-20)
			right: gem(-256)
			mix-blend-mode: lighten
			display: block
			pointer-events: none
	&-left
		display: flex
		flex-direction: column
		margin: gem(133) 0 0 gem(168)
		position: relative
		h2
			margin: 0 0 gem(37) gem(183)
		p
			width: gem(400)
			margin: 0 0 gem(65) gem(340)
		img
			width: gem(112)
			display: flex
			position: absolute
			top: gem(120)
			left: gem(30)
			font-size: gem(20)
			line-height: gem(32)
			animation: circle_rotate 10s linear infinite
	.line
		width: 2px
		height: 0
		display: flex
		position: absolute
		left: gem(64)
		background: linear-gradient(360deg,transparent,#FFF)
		opacity: 0.6
		overflow: hidden
		transition: height 0.5s ease
		&.visible
			height: gem(742)

		&:nth-last-child(3)
			right: gem(64)
			left: inherit
		&-go
			position: absolute
			display: block
			top: gem(97)
			width: 2px
			height: gem(32)
			background: linear-gradient(180deg,transparent,#FFF) 
			animation: line_begin 5s linear infinite 
			transition: 1s
			&:nth-last-child(1)
				animation-delay: 2s
.triangle
	display: flex
	position: absolute
	flex-direction: column
	align-items: center
	left: gem(53)
	top: gem(748)
	img
		width: gem(24)
		opacity: 0.3
		animation: triange_down 1.5s linear infinite 
		&:nth-child(2)
			width: gem(20)
			opacity: .3
			animation-delay: 0.495s
		&:nth-child(3)   
			width: gem(14)
			opacity: .3
			animation-delay: 0.990s
	&:nth-last-child(1)
		right: gem(53)
		left: inherit
@media only screen and (max-width : 1024px)
	.enabling
		flex-direction: column-reverse
		&-right
			height: gem(400)
			video
				top: gem(-125)
				width: gem(930)
				right: gem(-56)
		&-left
			margin: gem(33) 0 0 gem(97)
			h2
				width: gem(580)
				margin: 0 0 gem(32) gem(150)
			p
				width: gem(358)
				margin-left: gem(208)
			img
				top: gem(106)
				left: gem(8)
		.line
			left: gem(32)
			top: gem(-18)
			&:nth-last-child(3)
				right: gem(32)
	.triangle
		left: gem(22)
		&:nth-last-child(1)
			right: gem(22)
@media only screen and (max-width : 480px)
	.enabling
		.line
			display: none
		&-right
			height: gem(440)
			width: 100%
			margin-top: 0
			video
				width: gem(800)
				position: relative
				// top: gem(-157)
				margin-left: gem(-250)
				margin-top: gem(-30)
				// right: gem(-190)
		&-left
			margin: 0 gem(30)
			margin-top: gem(-80)
			h2
				width: gem(354)
				margin: 0 0 gem(18) 0
			p
				font-size: gem(16)
				line-height: gem(28)
				margin: 0 gem(30) 0 0
				width: gem(350)
			img
				width: gem(165)
				left: gem(303)
				top: gem(-80)
	.triangle
		display: none