.ensuring
    display: flex
    position: relative
    flex-direction: row
    &-left
        display: flex
        position: relative
        flex-direction: column
        h2
            margin: gem(136) gem(0) gem(49) gem(160)
        p
            margin: gem(0) gem(0) gem(63) gem(256)
            width: gem(530)
            .glitch
                font-weight: 800
            &:nth-child(3)
                margin-left: gem(480)
        &-star
            display: flex
            position: absolute
            top: gem(263)
            left: gem(160)
            img
                width: gem(64)
            &::after
                content: ''
                display: block
                position: absolute
                right: 0
                left: gem(31)
                top: gem(59)
                bottom: 0
                background: rgb(246,249,250)
                background: linear-gradient(180deg,transparent,#FFF)
                height: gem(160)
                width: 1px
                opacity: 0.5
                overflow: hidden
            &:nth-last-child(3)
                top: gem(450)
                left: gem(370)
                img
                    width: gem(74)
                &::after
                    left: gem(-178)
                    top: gem(31)
                    background: linear-gradient(270deg,transparent,#FFF)
                    height: 1px
                    width: gem(188)
        &-line
            display: flex
            position: absolute
            top: gem(330)
            width: 1px
            left: gem(191)
            height: gem(32)
            background: linear-gradient(180deg,transparent,#FFF) 
            animation: ens_line 1.5s linear infinite 
            &:nth-last-child(1)
                display: flex
                position: absolute
                top: gem(481)
                width: gem(32)
                left: gem(191)
                height: 1px
                background: linear-gradient(90deg,transparent,#FFF) 
                animation: ens_line_next 1.5s linear infinite 
                animation-delay: 3s
    &-right
        img
            display: flex
            width: gem(620)
@keyframes ens_line
    0%
        top: gem(330)
    100%
        top: gem(450) 
        opacity: 0
@keyframes ens_line_next
    0%
        left: gem(191)
    100%
        left: gem(340) 
        opacity: 0
@media only screen and (max-width : 1024px)
    .ensuring
        flex-direction: column-reverse
        &-right
            img
                width: gem(339)
                transform: rotate(270deg)
                position: relative
                top: gem(-140)
                left: gem(45)
        &-left
            top: gem(-130)
            h2
                margin: gem(0) gem(0) gem(64) gem(50)
            p
                margin: gem(0) gem(0) gem(63) gem(120)
                width: gem(420)
                &:nth-child(3)
                    margin-left: gem(260)
            &-star
                top: gem(120)
                left: gem(30)
                &::after
                    height: gem(197)
                &:nth-last-child(3)
                    top: gem(345)
                    left: gem(155)
                    &::after
                        left: gem(-94)
                        width: gem(120)
            &-line 
                top: gem(200)
                left: gem(61)
                animation: ens_line_mobile 1.5s linear infinite 
                &:nth-last-child(1)
                    top: gem(376)
                    left: gem(56)
                    animation: ens_line_next_mobile 1.5s linear infinite 
@keyframes ens_line_mobile
    0%
        top: gem(200)
    100%
        top: gem(300)
        opacity: 0
    
@keyframes ens_line_next_mobile
    0%
        left: gem(56)
    100%
        left: gem(135)
        opacity: 0
        