.faq
	padding-bottom: gem(154)
	h2
		margin: gem(162) gem(0) gem(98) gem(96)
	&-stars
		display: flex
		position: absolute
		top: gem(143)
		right: gem(85)
		width: gem(239)
	.accordion
		margin: 0 0 gem(200) gem(64) 
		width: gem(1472)
		&-item
			position: relative
			cursor: pointer
			&:last-child
				&::after
					position: absolute
					right: 0
					left: 0
					content: ''
					background: rgb(246,249,250)
					background: linear-gradient(90deg, rgba(246,249,250,0) 0%, rgba(246,249,250,1) 40%, rgba(246,249,250,1) 60%, rgba(246,249,250,0) 100%)
					display: inline-block
					height: 2px
					opacity: 0.5
			&-header
				display: flex
				align-items: center
				justify-content: space-between
				position: relative
				&::after
					position: absolute
					right: 0
					left: 0
					content: ''
					top: 0
					background: rgb(246,249,250)
					background: linear-gradient(90deg, rgba(246,249,250,0) 0%, rgba(246,249,250,1) 40%, rgba(246,249,250,1) 60%, rgba(246,249,250,0) 100%)
					display: inline-block
					height: 2px
					opacity: 0.5
				h4
					max-width: gem(1037)
					margin-left: gem(29)
					padding: gem(32) gem(0) gem(36) gem(0)
				.stars_open
					display: flex
					justify-content: center
					align-items: center
					position: relative
					margin-right: gem(50)
					&.active
						svg
							path:nth-child(2)
								opacity: 1
						span
							transform: rotate(225deg)
							background: #131533
							&:last-child
								transform: rotate(315deg)
					&:hover
						svg
							path:nth-child(2)
								opacity: 1
						span
							background: #131533
					svg
						width: gem(58)
						height: gem(58)
						transition: all 0.3s ease
						path
							width: 100%
							height: 100%
							transition: all 0.3s ease
							&:nth-child(2)
								fill: #fff
								opacity: 0
					span
						width: gem(12)
						height: gem(1)
						background: #fff
						position: absolute
						z-index: 2
						transition: all 0.3s ease
						&:last-child
							transform: rotate(90deg)
			&-body
				height: 0
				overflow: hidden
				p 
					margin: gem(0) gem(0) gem(30) gem(29)
					opacity: .85
					width: gem(1300)
					a 
						color: #34F1BB
						text-decoration: underline
		
@media only screen and (max-width : 1024px)
	.faq
		&-stars
			display: none
		.accordion
			width: gem(710)
			margin-left: gem(32)
			margin: 0 0 0 gem(64)
			&-item
				&-header
					h4
						font-size: gem(20)
						line-height: gem(27)
					.stars_open
						right: gem(40)
						svg 
							width: gem(48)
							height: gem(48)
				&-body
					p
						width: gem(560)

@media only screen and (max-width : 480px)
	.faq
		padding-bottom: gem(50)
		display: flex
		flex-direction: column
		align-items: flex-start
		flex-wrap: wrap
		h2 
			margin: gem(0) gem(0) gem(45) gem(30)
			width: gem(312)
			font-size: gem(56)
			line-height: gem(60)
		&-stars
			position: relative
			left: unset
			top: unset
			right: unset
			display: flex
			order: -1
			align-self: flex-end
			margin-right: gem(25)
			margin-top: gem(100)
			margin-bottom: gem(20)
		.accordion
			width: 100%
			margin-left: gem(0)
			margin-bottom: gem(180)
			&-item
				&-header
					h4
						font-weight: 400
						margin-left: gem(32)
						font-size: gem(18)
						line-height: gem(26)
						padding: gem(22) 0
					&::after
						height: 1px
					.stars_open
						right: gem(-30)
						svg
							width: gem(44)
							height: gem(44)
				&-body
					p
						font-size: gem(14)
						line-height: gem(26)
						width: gem(310)
				&:last-child
					&::after
						height: 1px