.process
	.marquee 
		display: block
		width: 100%
		white-space: nowrap
		overflow: hidden
		margin-bottom: gem(38)
		p
			display: inline-block
			padding-right: gem(10)
	&-main
		display: flex
		flex-direction: row
		margin-bottom: gem(181)
		.square
			width: gem(384)
			height: gem(335)
			display: inline-block
			position: relative
			left: gem(100)
			overflow: hidden
			margin-right: gem(32)
			&:last-child
				.square-content
					img
						width: gem(88)
			&-content
				margin: gem(63) gem(0) gem(0) gem(32)
				p
					opacity: .85
					width: gem(327)
				h3
					opacity: 0.3
					margin-bottom: gem(22)
				h4
					margin-bottom: gem(15)
					font-family: var(--main-font)
				img 
					display: flex
					position: absolute
					top: gem(30)
					left: gem(225)
					width: gem(134)
		span
			position: absolute
			display: block
			&:nth-child(1)
				top: 0
				left: -100%
				width: 100%
				height: 1px
				background: linear-gradient(90deg,transparent,#fff) 
				animation: line_top 3s linear infinite 
			&:nth-child(3)
				bottom: 0
				right: -100%
				width: 100%
				height: 1px
				background: linear-gradient(270deg,transparent,#fff) 
				animation: line_bottom 3s linear infinite 
				animation-delay: 3s
			&:nth-child(2)
				top: -100%
				right: 0
				width: 1px
				height: 100%
				background: linear-gradient(180deg,transparent,#fff) 
				animation: line_right 3s linear infinite 
				animation-delay: 1.5s
			&:nth-child(4)
				bottom: -100%
				left: 0
				width: 1px
				height: 100%
				background: linear-gradient(360deg,transparent,#fff) 
				animation: line_left 3s linear infinite 
				animation-delay: 4.5s
	.stars
		display: flex
		position: absolute
		top: gem(500)
		right: gem(87)
	img
		width: gem(117)

@media only screen and (max-width : 1024px)
	.process
		&-main
			flex-wrap: wrap
			.square
				width: gem(338)
				left: gem(32)
				&:nth-child(3)
					margin-top: gem(28)
				&-content
				img
					left: gem(200)
				p
					width: gem(288)
				&:last-child
					.square-content
						img
							left: gem(230)	
		.stars 
			top: gem(605)
			right: gem(125)
@media only screen and (max-width : 480px)
	.process
		// background-image: url(../../images/dist/second_bg.svg)
		&-main
			flex-wrap: wrap
		.square
			width: gem(384)
			left: gem(15)
			margin-bottom: gem(15)
			&:last-child
				.square-content
					img
						left: gem(240)
		.stars
			top: gem(1235)
			right: gem(70)
			transform: rotate(90deg)