@import './common/vars.sass'
@import './common/gem.scss'
@import 'blocks/**/*'

*
    box-sizing: border-box
    // cursor: none


html, body
    width: 100%
    height: 100vh

body,
main
    overflow-x: hidden
    background-color: #131533

body
    display: flex
    flex-direction: column
    font-family: var(--main-font)
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-rendering: optimizeLegibility

a
    text-decoration: none
    outline: none

img
    max-width: 100%
    height: auto

section
    position: relative
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    // visibility: hidden
.container
    position: relative
    width: var(--container-width)
    min-width: var(--container-width)
    margin: 0 auto

input , textarea
    &::-webkit-input-placeholder,
    &::placeholder
        transition: all .3s
    &:focus
        &::-webkit-input-placeholder,
        &::placeholder
            color: transparent

button[type='submit']
    cursor: pointer

//start here
header
    display: flex
    flex-direction: row
    justify-content: space-between
    position: fixed
    width: 100vw
    z-index: 5
    .top_menu
        display: flex
        margin: gem(46) gem(0) gem(38)
        a
          margin: gem(0) gem(38)
          position: relative
          &::after
            content: ""
            display: flex
            position: absolute
            width: 0
            height: gem(1)
            background-color: #fff
            top: gem(15)
            transition: width 0.3s ease
          &:hover
            &::after
              width: 100%
    .language
        display: flex
        margin: gem(46) gem(47) gem(38)
        a
            margin: gem(0) gem(16)
            position: relative
            &::after
              content: ""
              display: flex
              position: absolute
              width: 0
              height: gem(1)
              background-color: #fff
              top: gem(15)
              transition: width 0.3s ease
            &:hover
              &::after
                width: 100%
    .logo
        margin-left: gem(65)
        a 
          img
            width: gem(155)
    &::after
        content: ""
        height: gem(1)
        width: gem(1472)
        display: flex
        position: absolute
        top: gem(97)
        background-color: #fff
        margin-left: gem(64)
        opacity: 0.3
.stroke-text
    -webkit-text-fill-color: transparent
    -webkit-text-stroke: gem(1) white

.enabling_privacy
    display: flex
    flex-direction: row
    margin-top: gem(97)
    &-right
      display: flex
      position: relative
      .cloud_img
        display: flex
        position: relative
        left: gem(70)
        top: gem(200)
        img
          width: gem(529)
          height: gem(264)
    &-left
        display: flex
        flex-direction: column
        width: gem(700)
        margin-top: gem(133)
        margin-left: gem(168)
        h2
          margin-bottom: gem(2)
          &:nth-child(2)
            margin-left: gem(183)
            margin-bottom: gem(37)
        p
          width: gem(400)
          margin-left: gem(340)
          margin-bottom: gem(65)
        img
            width: gem(112)
            display: flex
            position: absolute
            top: gem(275)
            left: gem(172)
            font-size: gem(20)
            line-height: gem(32)
        .block_button
          display: flex
          position: relative
          margin-bottom: gem(351)
          .binance, .polygon
            display: flex
            position: absolute
            width: gem(345)
            height: gem(87)
            border: gem(1) solid white
            border-radius: gem(100)
            justify-content: center
            align-items: center
            transition: all 1s ease
            &::after
              content: ""
              display: flex
              position: absolute
              width: gem(345)
              height: gem(87)
              border-radius: gem(100)
              left: gem(-1)
              top: gem(-0.1)
              opacity: 1
              transition: all 1s ease
              background: radial-gradient(63.33% 995.94% at 31.88% 41.38%, #2B7AEF 0%, #2BBEEF 57.34%, #2B7AEF 100%)
            &::before
              content: ""
              display: flex
              position: absolute
              width: gem(345)
              height: gem(87)
              border-radius: gem(100)
              left: gem(-1)
              top: gem(-0.1)
              opacity: 0
              transition: all 1s ease
              background: radial-gradient(63.33% 995.94% at 31.88% 41.38%, #2B7AEF 0%, #34F1BB 57.34%, #2B7AEF 100%)
            &:hover
              &::after
                opacity: 0
              &::before
                opacity: 1
            span 
              z-index: 2
          .polygon
            left: gem(360)
            &::after
              content: ""
              display: flex
              position: absolute
              width: gem(345)
              height: gem(87)
              border-radius: gem(100)
              left: gem(-1)
              top: gem(-0.1)
              opacity: 1
              transition: all 1s ease
              background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 100%)
              backdrop-filter: blur(25px)
            &::before
              content: ""
              display: flex
              position: absolute
              width: gem(345)
              height: gem(87)
              border-radius: gem(100)
              left: gem(-1)
              top: gem(-0.1)
              opacity: 0
              transition: all 1s ease
              background: radial-gradient(63.33% 995.94% at 31.88% 41.38%, #FF587D 0%, #FFAEAE 57.34%, #FF90BA 100%)
              &:hover
                &::after
                  opacity: 0
                &::before
                  opacity: 1
    .left_line
        width: gem(1)
        height: gem(742)
        display: flex
        position: absolute
        left: gem(64)
        background: linear-gradient(360deg,transparent,#FFF)
        opacity: 0.6
        // top: gem(-1)
    .left_line_go
        position: absolute
        display: block
        top: gem(97)
        left: gem(64)
        width: gem(1)
        height: gem(32)
        background: linear-gradient(180deg,transparent,#FFF) 
        animation: line_begin 5s linear infinite 
        transition: 1s
    .left_line_go2
        position: absolute
        display: block
        top: gem(97)
        left: gem(64)
        width: gem(1)
        height: gem(32)
        background: linear-gradient(180deg,transparent,#FFF) 
        animation: line_begin 5s linear infinite 
        transition: 1s
        animation-delay: 2s
    .right_line
        width: gem(1)
        height: gem(742)
        display: flex
        position: absolute
        right: gem(64)
        background: linear-gradient(360deg,transparent,#FFF)
        opacity: 0.6
        // top: gem(-1)
    .right_line_go
        position: absolute
        display: block
        top: gem(97)
        right: gem(64)
        width: gem(1)
        height: gem(32)
        background: linear-gradient(180deg,transparent,#FFF) 
        animation: line_begin 5s linear infinite 
        transition: 1s
    .right_line_go2
        position: absolute
        display: block
        top: gem(97)
        right: gem(64)
        width: gem(1)
        height: gem(32)
        background: linear-gradient(180deg,transparent,#FFF) 
        animation: line_begin 5s linear infinite 
        transition: 1s
        animation-delay: 3s
@keyframes line_begin
    0%
        top: gem(97)
    100%
        top: gem(700)

 
@keyframes scroll 
    0% 
        transform: translate(0, 0)
    100% 
        transform: translate(-100%, 0)
    
.how_works
    .marquee 
        display: block
        width: 100%
        white-space: nowrap
        overflow: hidden
        margin-bottom: gem(38)
        p
          display: inline-block
          padding-left: 100%
          -webkit-animation: scroll 15s infinite linear
          -moz-animation: scroll 15s infinite linear
          animation: scroll 15s infinite linear
    .squares_more
      display: flex
      flex-direction: row
      margin-bottom: gem(181)
      .square
        width: gem(384)
        height: gem(335)
        display: inline-block
        position: relative
        left: gem(100)
        background: #131533
        overflow: hidden
        border-left-image: linear-gradient(180deg,transparent,#FFF)
        margin-right: gem(32)
        .square_content
          margin: gem(63) gem(0) gem(0) gem(32)
          p
            width: gem(327)
          h3
            opacity: 0.3
            margin-bottom: gem(22)
          h4
            margin-bottom: gem(15)
          img 
            display: flex
            position: absolute
            top: gem(30)
            left: gem(225)
            width: gem(134)

        span
            position: absolute
            display: block
            &:nth-child(1)
                top: 0
                left: -100%
                width: 100%
                height: gem(1)
                background: linear-gradient(90deg,transparent,#fff) 
                animation: line_top 3s linear infinite 
            &:nth-child(3)
                bottom: 0
                right: -100%
                width: 100%
                height: gem(1)
                background: linear-gradient(270deg,transparent,#fff) 
                animation: line_bottom 3s linear infinite 
                transition: 1s
                animation-delay: 3s
            &:nth-child(2)
                top: -100%
                right: 0
                width: gem(1)
                height: 100%
                background: linear-gradient(180deg,transparent,#fff) 
                animation: line_right 3s linear infinite 
                transition: 1s
                animation-delay: 1.5s
            &:nth-child(4)
                bottom: -100%
                left: 0
                width: gem(1)
                height: 100%
                background: linear-gradient(360deg,transparent,#fff) 
                animation: line_left 3s linear infinite 
                transition: 1s
                animation-delay: 4.5s
.stars
  display: flex
  position: absolute
  top: gem(505)
  right: gem(75)
  img
    width: gem(117)
          
@keyframes line_top
    0%
        left: -100%
    100%
        left: 100%

@keyframes line_bottom
    0%
        right: -100%
    100%
        right: 100%

@keyframes line_right
    0%
        top: -100%
    100%
        top: 100%
@keyframes line_left
    0%
        bottom: -100%
    100%
        bottom: 100%

.ensuring
  .ensuring_content
    h2
      margin: gem(136) gem(0) gem(49) gem(160)
    p
      margin: gem(0) gem(0) gem(63) gem(256)
      width: gem(557)
      &:nth-child(3)
        margin-left: gem(480)
    .ensuring_star1
      display: flex
      position: absolute
      top: gem(263)
      left: gem(160)
    .ensuring_star2
      display: flex
      position: absolute
      top: gem(450)
      left: gem(370)



        

 
// .marquee p 
//     display: inline-block
//     padding-left: 100%
//     -webkit-animation: scroll 10s infinite linear
//     -moz-animation: scroll 10s infinite linear
//     animation: scroll 10s infinite linear



// body 
// 	--button-border-radius: 40px
// 	--button-bg: transparent
// 	--button-stroke: #000
// 	--button-stroke-width: 1px
// 	--button-text: #000
// 	--button-bg-hover: #d8d4cf
// 	--button-stroke-hover: #000
// 	--button-stroke-width-hover: 1px
// 	--button-text-hover: #fff
// 	--cursor-stroke: #fff
//     --cursor-fill: #fff
//     --cursor-stroke-width: 1px
// 	--button-filler: #000
// 	--color-bg: #ccc


// .button 
// 	cursor: pointer
// 	-moz-appearance: none
// 	-webkit-appearance: none
// 	border-width: 1px
// 	border-color: #000
// 	border-style: solid
// 	color: #000
// 	background: var(--button-bg)
// 	border-radius: var(--button-border-radius)
// 	min-width: 14rem
// 	height: 6rem
// 	padding: 0
// 	margin: 1rem
// 	font-family: inherit
// 	font-size: 1.5rem
// 	overflow: hidden
// 	display: flex
// 	align-items: center
// 	justify-content: center


// .button:focus,
// .button--hover 
// 	outline: none
// 	border-width: var(--button-stroke-width-hover)
// 	border-color: var(--button-stroke-hover)
// 	color: var(--button-text-hover)


// .button__filler 
// 	background: var(--button-filler)
// 	position: absolute
// 	width: 150%
// 	height: 200%
// 	border-radius: 50%
// 	top: -50%
// 	left: -25%
// 	transform: translate3d(0,75%,0)


// .button__text, 
// .button__text-inner 
// 	display: flex
// 	align-items: center
// 	justify-content: center
// 	width: 100%
// 	height: 100%



// CURSOR /////////////////////////////

#ink-cursor 
  pointer-events: none
  position: fixed
  display: block
  border-radius: 0
  -webkit-transform-origin: center center
  transform-origin: center center
  mix-blend-mode: difference
  transform: translate(-50%, -50%)
  top: 0
  left: 0
  z-index: 2
  -webkit-filter: url(#goo)
  filter: url(#goo)
  
.ball 
  border-radius: 50%
  position: absolute
  transform: translate(-50%, -50%)
  background: #ffffff

#ball1 
  width: 26px
  height: 26px
#ball2 
  width: 24.7px
  height: 24.7px
#ball3 
  width: 23.4px
  height: 23.4px
#ball4 
  width: 22.1px
  height: 22.1px
#ball5 
  width: 20.8px
  height: 20.8px
#ball6 
  width: 19.5px
  height: 19.5px
#ball7 
  width: 18.2px
  height: 18.2px
#ball8 
  width: 16.9px
  height: 16.9px
#ball9 
  width: 15.6px
  height: 15.6px
#ball10 
  width: 14.3px
  height: 14.3px
#ball11 
  width: 13px
  height: 13px
#ball12 
  width: 11.7px
  height: 11.7px
#ball13 
  width: 10.4px
  height: 10.4px
#ball14 
  width: 9.1px
  height: 9.1px
#ball15 
  width: 7.8px
  height: 7.8px
#ball16 
  width: 6.5px
  height: 6.5px
#ball17 
  width: 5.2px
  height: 5.2px
#ball18 
  width: 3.9px
  height: 3.9px
#ball19 
  width: 2.6px
  height: 2.6px
#ball20 
  width: 1.3px
  height: 1.3px
///////////////////////////////