@import './common/vars.sass'
@import './common/gem.scss'
@import 'blocks/**/*'

*
	box-sizing: border-box
	// cursor: none


html, body
	width: 100%
	height: 100vh

body,
main
	overflow-x: hidden
	background-color: none

body
	display: flex
	flex-direction: column
	font-family: var(--main-font)
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	text-rendering: optimizeLegibility
	cursor: none !important
	&.loading
		overflow: hidden
		.page-background
			svg
				opacity: 0


a
	text-decoration: none
	outline: none

img
	max-width: 100%
	height: auto

section
	position: relative
	background-repeat: no-repeat
	background-position: center
	background-size: cover
	// visibility: hidden
.container
	position: relative
	width: var(--container-width)
	min-width: var(--container-width)
	margin: 0 auto

input , textarea
	&::-webkit-input-placeholder,
	&::placeholder
		transition: all .3s
	&:focus
		&::-webkit-input-placeholder,
		&::placeholder
			color: transparent

button[type='submit']
	// cursor: pointer
a
	cursor: none
//start here
.anim-items
	opacity: 0
	transform: translateY(gem(-40))
.stroke-text
	-webkit-text-fill-color: transparent
	-webkit-text-stroke: 1px white

@media (any-pointer: fine)
	.cursor
		position: fixed
		top: 0
		left: 0
		display: block
		pointer-events: none
		z-index: 11
	.cursor__inner
		position: relative  
		fill: #fff
		stroke: var(--cursor-stroke)
		stroke-width: var(--cursor-stroke-width)
		// z-index: 99999999999

	.credits
		padding-left: 25vw

.bt-menu 
    position: fixed
    display: none
    width: gem(40)
    height: gem(40)
    background: none
    border-radius: gem(40)
    // box-shadow: gem(0) gem(5) gem(20)rgba(182, 198, 214, 0.2)
    right: gem(60)
    &:after,
    &:before 
        content: ""
    span,
    &::after,
    &::before 
        backface-visibility: hidden
        position: absolute
        left: 0
        right: 0
        transition: .2s ease
    &::before 
        top: gem(12)
        border-top: gem(2) solid #fff
    span 
        top: gem(20)
        border-top: gem(2) solid #fff
    &::after 
        top: gem(28)
        border-top: gem(2) solid #fff
    &.active 
        &::before,
        &::after 
            top: gem(20)
            backface-visibility: hidden
            transition: .3s ease
        &::before 
            transform: rotate(45deg)
        span 
            opacity: 0
        &::after 
            transform: rotate(-45deg)

@media only screen and (max-width : 1024px)
    .bt-menu
        display: block
        right: gem(21)
        top: gem(15)
        z-index: 11
.mobile_menu
	display: flex
	background: #000
	position: fixed
	top: 0
	left: -100%
	height: 100vh
	width: 100%
	transition: left .3s ease
	z-index: 10
	flex-direction: column
	&-nav
		margin: gem(200) 0 0 gem(30)
		a
			display: flex
			margin-bottom: gem(32)
	&-language
		margin-left: gem(40)
	&-social
		display: flex
		width: gem(366)
		position: relative
		top: gem(58)
		&-icon
			display: flex
			position: relative
			margin-left: gem(20)
			top: gem(-8)
			a
				display: flex
				margin-right: gem(14)
				transition: all .3s ease
				svg
					width: gem(24)
					height: gem(24)
				&:hover
					opacity: 0.5
		&::before
			content: ''
			display: flex
			position: absolute
			width: gem(366)
			height: 1px
			background: linear-gradient(90deg, rgba(246,249,250,0) 0%, rgba(246,249,250,1) 40%, rgba(246,249,250,1) 60%, rgba(246,249,250,0) 100%)
			top: gem(-22)
		&::after
			content: ''
			display: flex
			position: absolute
			width: gem(366)
			height: 1px
			background: linear-gradient(90deg, rgba(246,249,250,0) 0%, rgba(246,249,250,1) 40%, rgba(246,249,250,1) 60%, rgba(246,249,250,0) 100%)
			top: gem(30)
		p
			font-size: gem(12)
			line-height: gem(12)
			margin-left: gem(30)
	.buttons
		top: gem(100)
		left: gem(20)
	&.active
		left: 0
// .mobile_menu
//     background: #000
//     position: fixed
//     top: 0
//     left: 0
//     height: 100vh
//     width: 100%
//     transition: .3s ease
//     z-index: 10
//     display: flex
//     flex-direction: column
// 	.nav-menu_mobile
// 		margin-top: gem(200)
//     .second_post
//         display: flex
//         position: absolute
//         // top: gem(15)
//         left: gem(95)
//         width: gem(214)
//         cursor: pointer
//         z-index: 10
//         color: #000
//         transition: all .25s ease
//         &::after
//             display: flex
//             position: absolute
//             content: ''
//             width: gem(212)
//             height: gem(54)
//             border-radius: 0 gem(8) gem(8) gem(8)
//             background: linear-gradient(93.92deg, #22F4FF 0%, #F0598D 48.96%, #FFC93C 100%)
//     &.active
//         left: 0
// @media only screen and (max-width : 1024px)
//     .mobile_menu
//         .second_post
//             left: gem(280)
// @media only screen and (max-width : 480px)
//     .mobile_menu
//         .second_post
//             left: gem(100)
             